// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'IRANSans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$navy-blue: #263544;
$deep-light-blue: #b7c0cd;
$light-blue: #42a5f5;
$box-blue-bg: #4099ff;
