.button {
    border-radius: 5px;
    border: 1px solid;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.button:active,
.button:focus {
    outline: none;
}

.button.big {
    padding: 20px 40px;
    font-size: 15px;
}

.button.small {
    padding: 7px 14px;
    font-size: 10px;
}

.button.extra-small {
    padding: 3px 7px;
    font-size: 8px;
}

.auth-form-container .button {
    padding: 15px 20px;
    font-size: 14px;
}

.button.basic,
.button.primary {
    background-color: #14abfa;
    border-color: #14abfa;
}

.button.stroke.basic,
.button.stroke.primary {
    border-color: #14abfa;
    color: #14abfa;
}

.button.secondary {
    background-color: #978ded;
    border-color: #978ded;
}

.button.notification {
    background-color: #f5a3e3;
    border-color: #f5a3e3;
}

.button.success {
    background-color: #71c565;
    border-color: #71c565;
}

.button.warn {
    background-color: #ffc939;
    border-color: #ffc939;
}

.button.danger {
    background-color: #ff8788;
    border-color: #ff8788;
}

.button.rounded {
    border-radius: 50%;
}

.button.rectangle {
    border-radius: 0;
}

.button.stroke {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
}

.button.secondary.stroke {
    border-color: #978ded;
    color: #978ded;
}

.button.notification.stroke {
    border-color: #f5a3e3;
    color: #f5a3e3;
}

.button.success.stroke {
    border-color: #71c565;
    color: #71c565;
}

.button.warn.stroke {
    border-color: #ffc939;
    color: #ffc939;
}

.button.danger.stroke {
    border-color: #ff8788;
    color: #ff8788;
}

.button.danger.stroke {
    border-color: #333;
    color: #333;
}

.button.no-border {
    border: none;
}
