@import "side-column";
@import "main-column";

.page .side-column .side-bar,
.page .main-column .top-bar .navigation {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
