.page .side-column {
    width: 210px;
    position: relative;
}

.page .side-column .content {
    position: fixed;
    width: 210px;
    height: 100%;
    top: 0;
    z-index: 2;
}

@media (max-width: 768px) {
    .page .side-column {
        width: 50px;
    }

    .page .side-column .content {
        width: 50px;
    }
}

.page .side-column .logo {
    background-color: #fff;
    padding: 32px 0;
    position: relative;
    z-index: 2;
    height: 95px;
    text-align: center;
    transition: height 0.15s ease-in-out, padding 0.15s ease-in-out;
}

.page .side-column .logo.fixed {
    height: 55px;
    padding: 10px;
}

.page .side-column .logo.fixed .logo-image {
    height: 30px;
}

.page .side-column .side-bar {
    border-top: 0;
    position: absolute;
    width: 100%;
    height: calc(100% - 55px);
}
