@import "../core/common/common.variables";

@media (min-width: 991px) {
  .page.rtl .main-column .main-content .ticket-info {
    border-right: 1px solid $light-gray;
  }

  .page.ltr .main-column .main-content .ticket-info {
    border-left: 1px solid $light-gray;
  }
}

.page .main-column .main-content .ticket-title-and-text .title {
  border-bottom: none;
}

.page .main-column .main-content table {
  width: 100%;
}

.page .main-column .main-content table tr td {
  padding: 10px;
}

.page .main-column .main-content .ticket-info .answer {
  border-top: 1px solid $light-gray;
}