// Frontend variables
@import "frontend.variables";

@import "../common/common.app";
@import "auth";

.page .main-column {
    width: 100%;
    font-size: 12px;
}

.page .main-column .top-bar {
    border-right: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.page .main-column .top-bar.fixed .navigation {
    position: fixed;
    width: 100%;
    top: 32px;
    transform: translateY(-32px);
    z-index: 3;
}

.page .main-column .main-content .title {
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 10px;
    margin-bottom: 20px;
}

.page .main-column .top-bar .navigation .content {
    display: block;
    justify-content: normal;
    line-height: initial;
    padding: 5px;
}

.page.rtl .main-column .top-bar .navigation .content .welcome {
    float : left;
}

.page.ltr .main-column .top-bar .navigation .content .welcome {
    float : right;
}