// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'IRANSans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$navy-blue: #263544;
$deep-light-blue: #b7c0cd;
$light-blue: #42a5f5;
$box-blue-bg: #4099ff;
$light-gray: #e7e7e7;
$dark-gray: #9a9a9a;
$primary: #14abfa;
$dark-primary: #0e79b1;
$secondary: #978ded;
$dark-secondary: #867ecd;
$notification: #f5a3e3;
$dark-notification: #cd83bd;
$success: #71c565;
$dark-success: #55a553;
$warn: #ffc939;
$dark-warn: #cd9e32;
$danger: #ff8788;
$dark-danger: #cd6e6e;
$dark: #333333;
$dark-dark: #272727;