body {
    background-color: #f3f3f3;
    font-size: 11px;
    color: #333;
}

body.ltr,
body.ltr .mds-bootstrap-persian-datetime-picker-popover {
    direction: ltr;
    text-align: left;
    font-family: "Open Sans", serif;
    font-size: 11px;
}

body.rtl,
body.rtl .mds-bootstrap-persian-datetime-picker-popover {
    direction: rtl;
    text-align: right;
    font-family: "IRANSans", serif;
    font-size: 11px;
}

a,
a:hover {
    text-decoration: none;
}
