.page .submit-button-container {
    margin: 20px;
    text-align: center;
}

.page .action-buttons-container a {
    margin-bottom: 20px;
}

.page .help-text {
    color: #7f7f7f;
    font-style: italic;
}
