@import "common.variables";

.notification-container {
  margin: 30px 30px 0;
}

.page .user-notification-container {
  position: relative;
}

.page .user-notification-container .notification-counter-container {

  position: absolute;
  top: -3px;
  background: $danger;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  color: white;
}

.page.rtl .user-notification-container .notification-counter-container {
  right: 0;
}

.page.ltr .user-notification-container .notification-counter-container {
  left: 0;
}

.page .notifications-list a.read {
  color: $dark-gray;
}

.page.rtl .notifications-list .icons i {
  font-size: 15px;
}

.page.rtl .notifications-list .icons {
  float: left;
}

.page.ltr .notifications-list .icons {
  float: right;
}