.page .main-column .top-bar .icons {
    height: 45px;
    line-height: 45px;
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 5px 30px;
}

.page .main-column .top-bar .navigation {
    height: 50px;
    position: relative;
    background: #fff;
    transition: transform 0.15s ease-in-out;
    padding: 5px 30px;
    line-height: 40px;
}

.page .main-column .top-bar .navigation-content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .page .main-column .top-bar.fixed .navigation {
        width: calc(100% - 50px);
    }
}


.page .main-column .top-bar .navigation-content .page-title {
    font-weight: bold;
    font-size: 14px;
}

.page .main-column .top-bar .content {
    display: flex;
    justify-content: flex-end;
}

.page .main-column .top-bar .content .welcome,
.page .main-column .top-bar .content .logout {
    padding: 0 5px;
}

.page .main-column .top-bar .welcome ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.page .main-column .top-bar .welcome ul li {
    padding : 7px;
}

.page .main-column .top-bar .welcome ul li i {
    font-size: 15px;
}